.root_div {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 10px;
  background-image: linear-gradient(120deg, #0d7c85, #03ebfc, #aa00ee);
}

.quiz_catogery_header {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 400px;
  color: #ffffff;
  /* margin-top: 50px; */
  margin-top: 10px;
}

.horizental_line {
  /* color: black; */
  height: 5px !important;
  background: linear-gradient(#ffffff, #ffffff);
}

.quiz_catagory_div {
  margin-top: 20px;
}
